@model IEnumerable<P_ReservaSalon.Salon>

@{
    ViewBag.Title = "Index";
}
<html>
<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Audiowide">
    <style>
        body {
            font-family: "Audiowide", sans-serif;
            background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/221808/sky.jpg")
        }

        table {
            background-color: rgb(34,193,195);
            background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(79,157,232,1) 68%, rgba(16,50,122,1) 100%);
            color: whitesmoke;
            text-align: center;
            height: contain;
        }
        .table th {
            text-align:center;
        }
        .tabla {
            height: auto;
            border: 6px solid #80c0fd;
            border-radius: 6px;
            background-color: #80c0fd;
        }
    </style>
</head>
<body>
<h2 style="text-align:center;color:whitesmoke;margin: 40px 0;">Salones</h2>
<div class="tabla">
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ubicacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Disponible)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoSalon.SalonTipo)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ubicacion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Disponible)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TipoSalon.SalonTipo)
                </td>
            </tr>
        }
    </table>
</div>
    </body>
</html>