@model P_ReservaSalon.Formulario

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Formulario</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Cedula)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cedula)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telefono)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telefono)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaxPersonas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaxPersonas)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaReserva)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaReserva)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TiempoReserva)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TiempoReserva)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaCreacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaCreacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Salon.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Salon.Nombre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
