@model IEnumerable<P_ReservaSalon.Formulario>

@{
    ViewBag.Title = "Index";
}
<html>
<head>
    
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Audiowide">
    <style>
        body {
            font-family: "Audiowide", sans-serif;
            background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/221808/sky.jpg")
        }

        table {
            background-color: rgb(34,193,195);
            background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(79,157,232,1) 68%, rgba(16,50,122,1) 100%);
            color:whitesmoke;
            text-align: center;
            margin-top: 20px
        }
        table th {
            text-align:center;
            padding: 0 18px;
        }
        .main-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .boton {
            margin: 14px 0;
        }
    </style>
</head>
<body>
    <div class="main-container">
        <div class="form-group"><h2 style="color:whitesmoke">Formularios</h2></div>

        <div class="form-group boton">
            @Html.ActionLink("Crear Fromulario", "Create", null, new { @class = "btn btn-info" })
        </div>
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Cedula)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Nombre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Telefono)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MaxPersonas)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FechaReserva)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TiempoReserva)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FechaCreacion)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Salon.Nombre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Salon.TipoSalon.SalonTipo)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Cedula)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Telefono)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MaxPersonas)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FechaReserva)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TiempoReserva)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FechaCreacion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Salon.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Salon.TipoSalon.SalonTipo)
                    </td>
                    <td>
                        <div class=" = form-group">
                            @Html.ActionLink("Editar", "Edit", new { id = item.Id }, new { @class = "btn btn-warning" })
                        </div>
                        <div class=" = form-group">
                            @Html.ActionLink("Borrar", "Delete", new { id = item.Id }, new { @class = "btn btn-danger" })
                        </div>
                    </td>
                </tr>
            }

        </table>
    </div>
</body>
</html>